<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='about.css') }}"
    />

    <title>關於 {{ user["user_fname"] + " " + user["user_lname"] }}</title>
  </head>

  <body>
    <div class="container">
      <aside class="sidebar">
        <img src="{{ user['user_avatar_url'] }}" alt="Avatar" />

        <h2>{{ user["user_fname"] + " " + user["user_lname"] }}</h2>
        <a
          href="{{ url_for('edit_about_page', user_id=user.user_id) }}"
          class="edit-profile-button"
          >編輯個人資料</a
        >
        <p>
          {% if user["user_role"] == "Tenant" %} 租客 {% elif user["user_role"]
          == "Landlord" %} 房東 {% endif %}
        </p>
        <p class="email">{{ user["user_email"] }}</p>

        <button>聯絡我</button>

        <div id="star-rating">
          <h4>評價</h4>
          <span class="star" data-value="1">★</span>
          <span class="star" data-value="2">★</span>
          <span class="star" data-value="3">★</span>
          <span class="star" data-value="4">★</span>
          <span class="star" data-value="5">★</span>
        </div>
        <input type="hidden" id="rating-value" name="rating" value="0" />

        <p>{{ user.rating }}</p>
      </aside>

      <main class="main">
        <section class="about">
          <h3>關於我</h3>

          <p>
            {{ user["user_desc"] | default('這位使用者很懶，沒有留下任何介紹。',
            true) }}
          </p>

          <div class="info">
            <div>{{ houses | length }} 房源</div>
            <div>
              {{ login["created_time"][0:4] }} 年 {{ login["created_time"][5:7]
              }} 月 {{ login["created_time"][8:10] }} 日 加入
            </div>
            <div>已認證</div>
          </div>
        </section>

        <section class="properties">
          <h3>我的房源</h3>

          <div class="properties-list">
            {% for house in houses %}
            <a class="property" href="/house/{{ house['house_id'] }}">
              <img
                src="{{ house['media_url'][0] }}"
                alt="{{ house['house_title'] }}"
              />

              <div class="property-details">
                <h4>{{ house["house_title"] }}</h4>
                <p class="address">{{ house["full_address"] }}</p>
                <p class="price">{{ house["price_per_month"] }} 元/月</p>
              </div>
            </a>
            {% endfor %}
          </div>

          <button>查看所有房源</button>
        </section>
      </main>
    </div>

    <script>
      const stars = document.querySelectorAll("#star-rating .star");
      const ratingInput = document.getElementById("rating-value");

      document.addEventListener("DOMContentLoaded", async () => {
        const response = await fetch("/api/rating/{{ user.user_id }}", {
          method: "GET",
        });

        const res = await response.json();
        const rate = res.rate;

        stars.forEach((s, i) => s.classList.toggle("selected", i < rate));
      });

      stars.forEach((star) => {
        star.addEventListener("mouseenter", () => {
          const rate = parseInt(star.dataset.value);
          stars.forEach((s, i) => s.classList.toggle("hover", i < rate));
        });

        star.addEventListener("mouseleave", () => {
          stars.forEach((s) => s.classList.remove("hover"));
        });

        star.addEventListener("click", () => {
          const rate = parseInt(star.dataset.value);
          ratingInput.value = rate;
          stars.forEach((s, i) => s.classList.toggle("selected", i < rate));

          fetch("/api/rating/{{ user.user_id}}", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ rate }),
          }).then(window.location.reload());
        });
      });
    </script>
  </body>
</html>
