<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='house.css') }}"
    />

    <title>{{ house["house_title"] }}</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>{{ house["house_title"] }}</h1>
        <p>{{ house["full_address"] }}</p>
      </div>

      <div class="media"><img src="/" alt="{{ house['house_title'] }}" /></div>

      <div class="info">
        <div class="price">{{ house["price_per_month"] }} 元/月</div>

        <div class="about">
          <h3>關於</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            nostrum recusandae distinctio architecto aperiam quaerat
            voluptatibus rem, minima molestiae ipsa repellendus ab tempora
            sapiente eaque doloremque. Tenetur harum excepturi placeat.
          </p>
        </div>

        <div class="contact">
          <div class="main">
            <h3>聯絡屋主</h3>

            <div class="landlord">
              <div class="landlord-info">
                <img src="/" alt="Avatar" />

                <div class="more-info">
                  <h4>
                    {{ landlord["user_fname"] + " " + landlord["user_lname"] }}
                  </h4>
                  <p>{{ landlord["user_email"] }}</p>
                </div>
              </div>

              <button>聯絡我</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
