<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='house.css') }}"
    />

    <title>{{ house["house_title"] }}</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>{{ house["house_title"] }}</h1>
        <p>{{ house["full_address"] }}</p>
      </div>

      <div class="media-list">
        {% for media in house.media_url %}
        <img src="{{ media }}" alt="房屋圖片" />
        {% endfor %}
      </div>

      <div class="info">
        <div class="price">{{ house["price_per_month"] }} 元/月</div>

        <div class="about">
          <h3>關於</h3>
          <p>{{ house["house_desc"] }}</p>
        </div>

        <div class="contact">
          <div class="main">
            <h3>聯絡屋主</h3>

            <div class="landlord">
              <div class="landlord-info">
                <img src="{{ landlord['user_avatar_url'] }}" alt="Avatar" />

                <div class="more-info">
                  <h4>
                    {{ landlord["user_fname"] + " " + landlord["user_lname"] }}
                  </h4>
                  <p>{{ landlord["user_email"] }}</p>
                </div>
              </div>

              <a href="/about/{{ landlord['user_id'] }}" target="_blank">
                <button>聯絡我</button>
              </a>
            </div>
          </div>
        </div>

        <div class="note">
          <h3>你的備註</h3>
          <div id="notes-display-area">
            <!-- Existing notes will be loaded here by JavaScript or server-side rendering -->
            {% if notes %} {% for note in notes %}
            <div class="existing-note">
              <p>
                {{ note.note_content }}
                <span>備註於: {{ note.created_time }}</span>
              </p>
            </div>
            {% endfor %} {% else %}
            <p>目前沒有備註。</p>
            {% endif %}
          </div>
          <form id="add-note-form">
            <input type="hidden" id="houseId" value="{{ house['house_id'] }}" />
            <!-- Assuming house_id is available -->
            <textarea
              id="note-text"
              placeholder="在這裡輸入你的備註..."
              required
            ></textarea>
            <button type="submit">新增備註</button>
          </form>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <!-- Add this line -->
  </body>
</html>
